<link rel="stylesheet/less" type="text/css" href="__PUBLIC__/css/Blogin.less">

<div id="Blogin" class="container">
	<form action="__URL__/loginin" method="post" class="form-horizontal" role="form">
		<div>
	    <label for="username" class="col-sm-2">用户名</label>
      <input type="text" class="form-control" name="username" placeholder="username">
	  </div>
	  <div>
	    <label for="password" class="col-sm-2">密码 </label>
	    <input type="password" class="form-control" name="password" placeholder="password">
	  </div>
	    <input type="submit" class="btn btn-default" value="登录" />
	</form>
</div>