<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>书语后台管理</title>
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
  <script src="__PUBLIC__/js/jquery-2.0.0.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
</head>

<body>
  <include file="Common/header" />
  <div>

    {__CONTENT__}

  </div>
</body>
  <script src="__PUBLIC__/js/Less.js"></script>
</html>
