<?php
	$user = getUsername();
?>

<link rel="stylesheet/less" type="text/css" href="__PUBLIC__/css/editNote.less">
<include file="Common/header" />

<div class="container">
	<h5>修改笔记</h5>
	<form method="post" action="__URL__/addNoteUp" enctype="multipart/form-data">
		<div>
			<input type="hidden" name="id" value="{$note[id]}" />
		</div>
		<div>
			<label for="chapter">章节</label>
			<input type="text" name="chapter" value="{$note[chapter]}" />
		</div>
		<div>
			<label for="page">页码</label>
			<input type="text" name="page" value="{$note[page]}" />
		</div>
		<div>
			<label for="note">内容</label>
			<textarea name='note' id='note' rows="6" value="{$note[note]}">{$note[note]}</textarea>
		</div>
		<div>
			<label for="public">是否公开</label>
			<input type="radio" value="1" name="public" checked="checked" />所有人可见
			<input type="radio" value="0" name="public" />仅自己可见
		</div>
		<div>
			<img class="preImg" src="/Xitong_amazeUI/Uploads/NotePhotoes/{$note[photo]}" alt=".">
			<label for="photo">上传图片</label>
			<input type="file" name="photo" />
		</div>
		<input type="submit" value="修 改">
	</form>
</div>