<?php
	$user = getUsername();
?>

<link rel="stylesheet/less" type="text/css" href="__PUBLIC__/css/myBookNotes.less">
<include file="Common/header" />

<div class="container">

	<!-- 添加新评论 -->
<!-- 	<div id="addNote">
		<h5>添加新笔记</h5>
		<a href="__URL__/addNote">点击这...</a>
	</div>
 -->

	<!-- 笔记列表 -->
	<h2>笔记列表</h2>
	<for start="0" end="$allNotesCount">
		<div class="bookAllNotesList">
			<for start = "0" end="$bookInfoCount" name="j">
				<if condition="$bookInfo[$j][id] eq $allNotes[$i][bookid]">
					<h5>书名: {$bookInfo[$j][bookname]}</h5>
				</if>
			</for>
			<div class="NoteBasic">
				<p>章节:  {$allNotes[$i][chapter]}</p>
				<p>页码:  {$allNotes[$i][page]}</p>
			</div>
			<div class="NoteInfo">
				<p>{$allNotes[$i][note]}</p>
				<img src="/Xitong/Uploads/NotePhotoes/{$allNotes[$i][photo] | default='55850c7b8b5b3.jpg'}" alt=".">
				<span><?php echo date("Y-m-d ", $allNotes[$i][create_time]) ?></span>
				<!-- <form method="post" url="__URL__/editNote/noteId/{$allNotes[$i][id]})">
					<input type="submit" value="修改">
				</form> -->
			</div>
		</div>
	</for>
</div>